# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.

TRELLO_KEY=
TRELLO_TOKEN=
BOARD_ID=
LIST_ID_DONE=
LIST_ID_IN_PROGRESS=
LIST_ID_NOT_STARTED=
